{% extends "layout.html" %}

{% block title %}
Edit reference
{% endblock %}

{% block body %}

<h2>Edit reference</h2>

<div>
    <a href="/">Home page</a>
</div>

{% if error %}
<p>
    {{error}}
</p>
{% endif %}

<form action="/edit_reference" method="post">
    <input type="hidden" name="reference_id" value="{{ reference_id }}">
    <input type="hidden" name="reference_type" value="{{ reference_type }}">
    {% for key, info in reference_info.items() %}
    <p>
        {{ key }}<br>
        <input type="text" name="{{ key }}" value="{{ info.field }}">
        {% endfor %}
    <p>
        <button type="submit" name="button" value="save_changes">
            Save changes
        </button>
</form>

{% endblock %}