{% extends "layout.html" %} {% block title %} Reference app {% endblock %} {%
block body %}

<h2>Reference app</h2>

<div>
  <a href="/new_book_reference">Create a new book reference</a>
</div>
<div>
  <a href="/new_article_reference">Create a new article reference</a>
</div>
<div>
  <a href="/new_misc_reference">Create a new misc reference</a>
</div>
<div>
  <a href="/new_inproceedings_reference">Create new inproceedings reference</a>
</div>
<br />
<div>
  <a href="/references">See all references</a>
</div>
<div>
  <a href="/single_page_app">Single page app</a>
</div>

{% endblock %}
