<p class="form-heading">Add a book</p>

{% if error %}
<p>{{error}}</p>
{% endif %}
<form id="new-book-reference-form" action="/" method="post">
  <input type="hidden" name="selected-option" value="book" />
  
  <p class="input-helper-text">
    Author<br />
    <input type="text" name="author" />
  </p>

  <p class="input-helper-text">
    Title<br />
    <input type="text" name="title" />
  </p>

  <p class="input-helper-text">
    Year<br />
    <input type="text" name="year" />
  </p>

  <p class="input-helper-text">
    Publisher<br />
    <input type="text" name="publisher" />
  </p>

  <p>
    <button type="submit" name="submit" value="book">Add a book</button>
  </p>
</form>
