<p class="form-heading">Add a book</p>

{% if error %}
<p>{{error}}</p>
{% endif %}
<form id="new-book-reference-form" action="/" method="post">
  <input type="hidden" name="selected-option" value="book" />

  <p class="input-helper-text">
    Author<br />
    <input type="text" name="author" id="book-author"/>
  </p>

  <p class="input-helper-text">
    Title<br />
    <input type="text" name="title" id="book-title"/>
  </p>

  <p class="input-helper-text">
    Year<br />
    <input type="text" name="year" id="book-year"/>
  </p>

  <p class="input-helper-text">
    Publisher<br />
    <input type="text" name="publisher" id="book-publisher"/>
  </p>

  <p>
    <button type="submit" name="submit" value="book" id="add a book">Add a book</button>
  </p>
</form>
