<h3>Add an article</h3>

{% if error %}
<p>{{error}}</p>
{% endif %}
<form id="new-article-reference-form" action="/single_page_app" method="post">
  <p>
    Author(s)*<br />
    <input type="text" name="author" />
  </p>

  <p>
    Title*<br />
    <input type="text" name="title" />
  </p>

  <p>
    Journal*<br />
    <input type="text" name="journal" />
  </p>

  <p>
    Volume*<br />
    <input type="number" min="1" name="volume" />
  </p>

  <p>
    Number<br />
    <input type="number" min="1" name="number" />
  </p>

  <p>
    Year*<br />
    <input type="text" name="year" />
  </p>

  <p>
    Pages<br />
    <input
      type="number"
      min="1"
      name="pages_from"
      size="4"
      style="width: 70px"
    />
    –
    <input type="number" min="1" name="pages_to" size="4" style="width: 70px" />
  </p>

  <p>
    DOI<br />
    <input type="text" name="doi" />
  </p>

  <p>
    URL<br />
    <input type="text" name="url" />
  </p>

  <p>*reguired fields<br /></p>

  <p>
    <button type="submit" name="submit" value="article">Add an article</button>
  </p>
</form>
