<h2>Add inproceedings</h2>

{% if error %}
<p>{{error}}</p>
{% endif %}

<form id="new-inproceedings-form" action="/single_page_app" method="post">
  <p>
    Author<br />
    <input type="text" name="author" />
  </p>

  <p>
    Title<br />
    <input type="text" name="title" />
  </p>

  <p>
    Year<br />
    <input type="text" name="year" />
  </p>

  <p>
    Booktitle<br />
    <input type="text" name="booktitle" />
  </p>

  <p>
    <button type="submit" name="submit" value="inproceedings">
      Add inproceedings
    </button>
  </p>
</form>
