<p class="form-heading">Add a misc reference</p>

{% if error %}
<p>{{error}}</p>
{% endif %}
<form action="/" method="post">
  <input type="hidden" name="selected-option" value="misc" />

  <p class="input-helper-text">
    Author(s)*<br />
    <input type="text" name="author" id="misc-author"/>
  </p>
  <p class="input-helper-text">
    Title*<br />
    <input type="text" name="title" id="misc-title"/>
  </p>
  <p class="input-helper-text">
    Year*<br />
    <input type="text" name="year" id="misc-year"/>
  </p>
  <p class="input-helper-text">
    Note<br />
    <textarea name="note" rows="4" placeholder="Optional notes" id="misc-note"></textarea>
  </p>
  <p class="input-helper-text">*required fields<br /></p>
  <p>
    <button type="submit" name="submit" value="misc" id="add a misc">
      Add a misc reference
    </button>
  </p>
</form>
