<p class="form-heading">Add inproceedings</p>

<form id="new-inproceedings-form" action="/" method="post">
  <input type="hidden" name="selected-option" value="inproceedings" />

  <p class="input-helper-text">
    Author<br />
    <input type="text" id="inproceedings-author" name="author" />
  </p>

  <p class="input-helper-text">
    Title<br />
    <input type="text" id="inproceedings-title" name="title" />
  </p>

  <p class="input-helper-text">
    Year<br />
    <input type="text" id="inproceedings-year" name="year" />
  </p>

  <p class="input-helper-text">
    Book title<br />
    <input type="text" id="inproceedings-booktitle" name="booktitle" />
  </p>

  <p class="input-helper-text">
    <button type="submit" name="submit" value="inproceedings" id="add inproceedings">
      Add inproceedings
    </button>
  </p>
</form>
