{% extends "layout.html" %}

{% block title %}
Create a new reference
{% endblock %}

{% block body %}

<h2>Lisää kirja</h2>

<div>
  <a href="/">Home page</a>
</div>

<form action="/add_reference" method="post">
  <p>
  Kirjailija<br>
  <input type="text" name="author">
  <p>
  Kirjan nimi<br>
  <input type="text" name="title">
  <p>
  Vuosi<br>
  <input type="text" name="year">
  <p>
  Julkaisija<br>
  <input type="text" name="publisher">
  <p>
  <button type="submit" name="submit" value="book">
    Lisää kirja
  </button>
</form>

{% endblock %}