<p class="form-heading">Add an article</p>

{% if error %}
<p>{{error}}</p>
{% endif %}
<form id="new-article-reference-form" action="/" method="post">
  <input type="hidden" name="selected-option" value="article" />

  <p class="input-helper-text">
    Author(s)*<br />
    <input type="text" id="article-author" name="author" />
  </p>

  <p class="input-helper-text">
    Title*<br />
    <input type="text" id="article-title" name="title" />
  </p>

  <p class="input-helper-text">
    Journal*<br />
    <input type="text" id="article-journal" name="journal" />
  </p>

  <p class="input-helper-text">
    Volume*<br />
    <input type="number" id="article-volume" min="1" name="volume" />
  </p>

  <p class="input-helper-text">
    Number<br />
    <input type="number" id="article-number" min="1" name="number" />
  </p>

  <p class="input-helper-text">
    Year*<br />
    <input type="text" id="article-year" name="year" />
  </p>

  <p class="input-helper-text">
    Pages<br />
    <input
      type="number"
      id="article-pages_from"
      min="1"
      name="pages_from"
      size="4"
      style="width: 70px"
    />
    –
    <input 
      type="number"
      id="article-pages_to"
      min="1"
      name="pages_to"
      size="4"
      style="width: 70px" />
  </p>

  <p class="input-helper-text">
    DOI<br />
    <input type="text" id="article-doi" name="doi" />
  </p>

  <p class="input-helper-text">
    URL<br />
    <input type="text" id="article-url" name="url" />
  </p>

  <p class="input-helper-text">*required fields<br /></p>

  <p>
    <button type="submit" name="submit" value="article">Add an article</button>
  </p>
</form>
