<h2>Add a misc reference</h2>

{% if error %}
<p>{{error}}</p>
{% endif %}
<form action="/single_page_app" method="post">
  <p>
    Author(s)*<br />
    <input type="text" name="author" />
  </p>
  <p>
    Title*<br />
    <input type="text" name="title" />
  </p>
  <p>
    Year*<br />
    <input type="text" name="year" />
  </p>
  <p>
    Note<br />
    <textarea
      name="note"
      rows="4"
      cols="50"
      placeholder="Optional notes"
    ></textarea>
  </p>
  <p>*required fields<br /></p>
  <p>
    <button type="submit" name="submit" value="misc">
      Add a misc reference
    </button>
  </p>
</form>
