{% extends "layout.html" %}

{% block title %}
Create a new book reference
{% endblock %}

{% block body %}

<h2>Add a book</h2>

<div>
  <a href="/">Home page</a>
</div>

{% if error %}
<p>
  {{error}}
</p>
{% endif %}
<form action="/add_reference" method="post">
  <p>
  Author<br>
  <input type="text" name="author">
  <p>
  Title<br>
  <input type="text" name="title">
  <p>
  Year<br>
  <input type="text" name="year">
  <p>
  Publisher<br>
  <input type="text" name="publisher">
  <p>
  <button type="submit" name="submit" value="book">
    Add a book
  </button>
</form>

{% endblock %}