<div>Total references: {{ total }}</div>
<br />

<script>
  // Script for handling the reference edit modal / popover

  function capitalizeFirstLetter(str) {
    if (str.length === 0) {
      return str;
    }
    return str.charAt(0).toUpperCase() + str.slice(1);
  }
  
  function editReference(data, referenceId, referenceType) {
    // Create the modal
    const modalElement = document.createElement('div');
    modalElement.classList.add('modal-background');

    // Remove the modal on click background
    modalElement.addEventListener('mousedown', (event) => {
      if (event.target.classList.contains('modal-background')) {
        document.body.removeChild(modalElement);
      }
    });

    const modalContent = document.createElement('div');
    modalContent.classList.add('paper-div');
    modalContent.classList.add('modal-content');

    const headingElement = document.createElement('p');
    headingElement.textContent = 'Edit reference';
    headingElement.style.marginLeft = '2px';
    modalContent.appendChild(headingElement);

    const formElement = document.createElement('form');
    formElement.action = '/edit_reference';
    formElement.method = 'post';
    modalContent.appendChild(formElement);

    // Spawn input fields
    for (const [key, value] of Object.entries(data)) {
      const pElement = document.createElement('p');
      pElement.classList.add('input-helper-text');
      pElement.textContent = capitalizeFirstLetter(key);
      const breakElement = document.createElement('br');
      pElement.appendChild(breakElement);
      const inputElement = document.createElement('input');
      inputElement.type = 'text';
      inputElement.name = `edit-${key}`;
      inputElement.value = value;
      pElement.appendChild(inputElement);
      formElement.appendChild(pElement);
    }

    const submitButtonElement = document.createElement('button');
    submitButtonElement.type = 'submit';
    submitButtonElement.textContent = 'Save Changes';
    submitButtonElement.name = 'button';
    formElement.appendChild(submitButtonElement);

    const cancelButtonElement = document.createElement('button');
    cancelButtonElement.textContent = 'Cancel';
    cancelButtonElement.style.marginLeft = '4px';
    cancelButtonElement.addEventListener('click', (event) => {
      event.preventDefault();
      document.body.removeChild(modalElement);
    });

    const referenceIdElement = document.createElement('input');
    referenceIdElement.type = 'hidden';
    referenceIdElement.value = referenceId;
    referenceIdElement.name = 'reference_id';
    formElement.appendChild(referenceIdElement);

    const referenceTypeElement = document.createElement('input');
    referenceTypeElement.type = 'hidden';
    referenceTypeElement.value = referenceType;
    referenceTypeElement.name = 'reference_type';
    formElement.appendChild(referenceTypeElement);

    formElement.appendChild(cancelButtonElement);
    modalElement.appendChild(modalContent);
    document.body.appendChild(modalElement);
  }
</script>

<!-- Book references -->
{% if books|length > 0 %}
  {% for data in books %}
    <div class="reference-box book">
      <div class="year">{{ data.book_info.year }}</div>
      <div class="content">
        <strong>{{ data.book_info.title }}</strong><br>
        <em>{{ data.book_info.author }}</em><br>
        {{ data.book_info.publisher }}
      </div>
      <form
        action="/remove_reference/{{ data.reference_id }}"
        method="post"
        style="display: inline"
      >
        <button type="submit" id="delete_book">Delete</button>
      </form>
      <!-- Open edit modal and set the id, dont do request here -->
      <button name="button" value="edit" onclick="editReference({{data.book_info}}, {{data.reference_id}}, 'book')">Edit</button>
      <form action="/raw_bibtex" method="post" target="_blank" style="display: inline">
        <input
          type="hidden"
          name="reference_id"
          value="{{ data.reference_id }}"
        />
        <button type="submit" name="button" id="raw_bibtex">Raw bibtex</button>
      </form>
    </div>
  {% endfor %}
{% endif %}

<!-- Inproceedings references -->
{% if inproceedings|length > 0 %}
  {% for data in inproceedings %}
    <div class="reference-box inproceedings">
      <div class="year">{{ data.inproceedings_info.year }}</div>
      <div class="content">
        <strong>{{ data.inproceedings_info.title }}</strong><br>
        <em>{{ data.inproceedings_info.author }}</em><br>
        {{ data.inproceedings_info.booktitle }}
      </div>
      <form
        action="/remove_reference/{{ data.reference_id }}"
        method="post"
        style="display: inline"
      >
        <button type="submit" id="delete_inproceedings">Delete</button>
      </form>
      <!-- Open edit modal and set the id, dont do request here -->
      <button name="button" value="edit" onclick="editReference({{data.inproceedings_info}}, {{data.reference_id}}, 'inproceedings')">Edit</button>
      <form action="/raw_bibtex" method="post" target="_blank" style="display: inline">
        <input
          type="hidden"
          name="reference_id"
          value="{{ data.reference_id }}"
        />
        <button type="submit" name="button" id="raw_bibtex">Raw bibtex</button>
      </form>
    </div>
  {% endfor %}
{% endif %}

<!-- Misc references -->
{% if misc|length > 0 %}
  {% for data in misc %}
    <div class="reference-box misc">
      <div class="year">{{ data.misc_info.year }}</div>
      <div class="content">
        <strong>{{ data.misc_info.title }}</strong><br>
        <em>{{ data.misc_info.author }}</em><br>
        <p style="margin: 0;">{{ data.misc_info.note }}</p>
      </div>
      <form
        action="/remove_reference/{{ data.reference_id }}"
        method="post"
        style="display: inline"
      >
        <button type="submit" id="delete_misc">Delete</button>
      </form>
      <!-- Open edit modal and set the id, dont do request here -->
      <button name="button" value="edit" onclick="editReference({{data.misc_info}}, {{data.reference_id}}, 'misc')">Edit</button>
      <form action="/raw_bibtex" method="post" target="_blank" style="display: inline">
        <input
          type="hidden"
          name="reference_id"
          value="{{ data.reference_id }}"
        />
        <button type="submit" name="button" id="raw_bibtex">Raw bibtex</button>
      </form>
    </div>
  {% endfor %}
{% endif %}

<!-- Article references -->
{% if articles|length > 0 %}
<div>
  {% for data in articles %}
  <div class="reference-box article-box">
    <p><strong><i>{{ data.article_info.title }}</i></strong></p>
    <p><strong>Author(s):</strong> {{ data.article_info.author }}</p>
    <p><strong>Journal:</strong> {{ data.article_info.journal }}</p>
    <p>
      <strong>Volume:</strong> {{ data.article_info.volume }}
      {% if data.article_info.number %} <strong>Number:</strong> {{ data.article_info.number }}{% endif %}
    </p>
    <p><strong>Year:</strong> {{ data.article_info.year }}</p>
    <p>
      <strong>Pages:</strong>
      {% if data.article_info.pages_from and data.article_info.pages_to %}
        {{ data.article_info.pages_from }}–{{ data.article_info.pages_to }}
      {% else %}
        Not specified
      {% endif %}
    </p>
    <p>
      {% if data.article_info.doi %}<strong>DOI:</strong> <a href="https://doi.org/{{ data.article_info.doi }}">{{ data.article_info.doi }}</a><br>{% endif %}
      {% if data.article_info.url %}<strong>URL:</strong> <a href="{{ data.article_info.url }}" target="_blank">{{ data.article_info.url }}</a>{% endif %}
    </p>
    <form
      action="/remove_reference/{{ data.reference_id }}"
      method="post"
      style="display: inline"
    >
      <button type="submit" id="delete_article">Delete</button>
    </form>
    <form action="/edit_reference" method="post" style="display: inline">
      <input
        type="hidden"
        name="reference_id"
        value="{{ data.reference_id }}"
      />
      <button type="submit" name="button" value="edit">Edit</button>
    </form>
    <form action="/raw_bibtex" method="post" target="_blank" style="display: inline">
      <input
        type="hidden"
        name="reference_id"
        value="{{ data.reference_id }}"
      />
      <button type="submit" name="button" id="raw_bibtex">Raw bibtex</button>
    </form>
  </div>
  {% endfor %}
</div>
{% endif %}
