<p class="form-heading">Enter at least one search term </p>

<form id="search-references-form" action="/search" method="post">
    <p class="input-helper-text">
      Author<br />
        <input type="text" id="search-author" name="author" class="form-field" />
    </p>
  
    <p class="input-helper-text">
      Title<br />
        <input type="text" id="search-title" name="title" class="form-field truncate-input" />
    </p>
  
    <p class="input-helper-text">
      Year<br />
      <input type="text" id="search-year" name="year" class="form-field" />
    </p>
  
    <p class="input-helper-text">
      Year range (e.g., 2000–2020)<br />
      <input
        type="number"
        min="1000"
        id="search-year_from"
        name="year_from"
        class="form-field"
        style="width: calc(50% - 8px); display: inline-block;" />
      –
      <input 
        type="number" 
        min="1000" 
        id="search-year_to"
        name="year_to"
        class="form-field"
        style="width: calc(50% - 8px); display: inline-block;" />
    </p>
    <select
        name="reference_type"
        id="search-references-by-type-selector"
        class="form-field"
    >
        <option value="any" selected>Select reference type</option>
        <option value="books">Books</option>
        <option value="articles">Articles</option>
        <option value="inproceedings">Inproceedings</option>
        <option value="misc">Misc</option>
    </select><br />
    <br />
    <p class="input-helper-text">
      <button type="submit" name="submit" value="search">
        Search
      </button>
      <button type="submit" name="submit" value="clear">
        Clear
      </button>
    </p>
</form>
