{% extends "layout.html" %} {% block title %} Single Page Example {% endblock %}
{% block body %}

<div style="display: flex; flex-direction: column; height: 100vh">
  <!-- App Bar (Top) -->
  <div
    style="background-color: burlywood; padding-left: 8px; padding-right: 8px"
  >
    <p>App Bar</p>
  </div>

  <!-- Content (Below App Bar) -->
  <div style="display: flex; flex-direction: row; flex: 1">
    <div style="background-color: aqua; flex: 1; padding: 8px">
      <label for="create-references">Select Reference</label>
      <select name="cretate-references">
        <option value="book">Book</option>
        <option value="article">Article</option>
      </select>
      {% include 'new_book_reference.html' %}
    </div>
    <div style="background-color: chocolate; flex: 1; padding: 8px">
      <p>Haku ja lisättyjen listaus</p>
      <input />
    </div>
  </div>
</div>

{% endblock %}
